In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

Pour r√©aliser les exercices de ce noteboook, il sera utile de regarder les liens des ressources et la documentation de sklearn et de pandas.

# Import data and get into column format

In [2]:
# read the following file 'ESP_PUBLIC.IDENTITE_ARBRE.csv' from the website in Resources C
# and store the content in a dataframe variable named df
#test

In [ ]:
# display the first 5 lines of the file

In [ ]:
# explain what the following line does in a markdown cell below: 
# what is the input, what is the output, which is the type of the output
df.GeoJSON[0]

**explanations here**

In [ ]:
import json
# x = json.loads('{"foo" : "bar", "hello" : "world"}')

In [ ]:
# change the json string to a python dictionary on each of the values in the GeoJSON Column using "apply"

In [ ]:
# display the coordinates of the first element in the GeoJSON column

In [ ]:
# import pandas as pd
# use  pandas.io.json.json_normalize  to normalize the json coordinates into a new variable "coord"

In [ ]:
# store the longitude and latitude in two variables starting from the values in the "coord" variable using "apply"
longitude = None
latitude = None

In [ ]:
# remove the GeoJSON column from the dataframe df without copying it.

In [ ]:
# define two new cols for the LONGITUDE and LATITUDE 
# and assign them the values contained in the variables longitude and latitude

# Investigate data

Run and explain the result of the following python cell in the space below

In [ ]:
df.head()

*here*

Run and explain the result of the following python cell in the space below

In [ ]:
df.shape

*here*

Run and explain the results of the following python cells in the space below

In [ ]:
df.isnull().sum()
df.isnull().sum(axis=1)

*here*

Run and explain the results of the following python cell in the space below

In [ ]:
df.count()

*here*

Run and explain the result of the following python cell in the space below

In [ ]:
df.dtypes

*here*

Run and explain the result of the following python cell in the space below

In [ ]:
df.COLLECTIVITE.value_counts()

*here*

## Quick plots

Use seaborn scatter to plot the data using *LONGITUDE* and *LATITUDE* as `x` and `y` axis and three features of your choice as `hue` parameter.

In [ ]:
# code for plotting the first feature here

In [ ]:
# code for plotting the second feature here

In [ ]:
# code for plotting the third feature here

# Remove non- useful columns

Display the total number of lines in the dataframe

In [ ]:
# code here

Display the columns names for columns with all missing values

*(please do it in one line...)*

In [ ]:
# the line of code here

Display the columns names for columns where there are no missing values

*(please do it in one line...)*

In [ ]:
# the line of code here

How many distinct values are there for the column GENRE_BOTA?

*(please do it in one line...)*

In [ ]:
# code here

Where are the missing values?

Use the seaborn heatmap plot for displaying all missing values

In [ ]:
# code here

In [ ]:
import missingno as msno

Use the `matrix` and `heatmap` functions of the `missingno` library for displaying a heatmap, a missing values matrix and a dendrogram.

In [ ]:
# code for displaying the matrix

In [ ]:
# code for displaying the heatmap

In [ ]:
# code for displaying the dendrogram

Remove missing dates (in the column `ANNEDEPLANTATION`) and store the remaining dataframe in a variable named `clean`

In [ ]:
# code here
#clean.head()

Inspect the shape of the cleaned dataframe

In [ ]:
# code here

Remove empty columns (+ columns that are close to empty) 

A 'close to empty' column is a column with a total number of elements lower or equal to 28000.

Store the columns' names in a variable named `cols_list_clean`

In [ ]:
# code here

In [ ]:
cols_list_clean

Replace the `clean` data frame by the subset containing only the cleaned columns, then inspect the first five elements of the dataframe.

In [ ]:
# code here

In [ ]:
clean.shape

Find the columns that have one single value for all entries.

In [ ]:
# code here

Remove the following uninteresting columns - i.e ones that have all same values or references

In [ ]:
uninteresting_cols = ['NOM','GENRE','GENRE_DESC','CATEGORIE', 'CATEGORIE_DESC', 'BIEN_REFERENCE']

In [ ]:
# code here

Find the number of distinct values in the `STADEDEDEVELOPPEMENT` column.

In [ ]:
# code here

NOTES

Features looking useful:
* sous_category looks useful (4 categories)
* ADR_SECTEUR (6 categories)
* STADEDEDEVELOPPEMENT (3 categories) 
* COLLECTIVITE (2 categories)


Less useful:
* CODE_PARENT_DESC (too many categories - ~1400, but could be usefull to make new featues (most common tree in local area etc).
* GENRE_BOTA (112 categories) 
* ESPECE(257 categories)
* VARIETE (183 cats but missing vals)

In [ ]:
# if you want you can display the whole clean dataframe here

For storing the dataframe in a csv file, use `clean.to_csv('./data/modified/first_clean.csv',index=False)`

## Save out to pickle file

The file name should be 'trees_first_clean.pkl'

In [ ]:
# code here